.navbar {
  background: transparent;
}

body, html {
    height: 100%;
}

/* The hero image */
.hero-image {
  /* Use "linear-gradient" to add a darken background effect to the image (background1.jpg). This will make the text easier to read */
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../images/background1.jpg");

  /* Set a specific height */
  height: 100vh;

  /* Position and center the image to scale nicely on all screens */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

/* Place text in the middle of the image */                     
.hero-text {
  text-align: center;
  position: absolute;
  top: 30%;
  left: 70%;
  transform: translate(-50%, -50%);
  color: white;
} 

.title{
    text-align: center;
    padding-top: 70px;
}

#about1{
    margin-top: 30px;
    margin-right: 20px;
    text-align: justify;
}

#about2{
    margin-top: 30px;
    text-align: justify;
}

.center-item{
    text-align: center;
    
}

.image{
    border-radius: 20%;
    margin-top: 30px;
    height: 200px;
    width: 200px;
}

.km-photo{
    border-radius: 50%;
    margin-top: 30px;
    height: 300px;
    width: 300px;
}

.center-image{
    display: block;
    margin-left: auto; 
    margin-right: auto;
}

.icons{
    font-size: 40px;
    display: block;
    margin-top: auto; 
    margin-bottom: auto;
}

.fa {
    color: black;
    }



